body {
    margin: 0;
    background: #1b1b1b;
}

#main-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#projects-container {
  display: flex;
}

img#pfp {
    border: 1px solid #1b1b1b;
    border-radius: 50%;
    border-width: 5px;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #dcdcdc;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects-container a {
    text-decoration: none;
    color: white;
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;

    margin: 10px 5px;
    padding: 6px 11px;

    background-color: #3663e0;
    border: 0px solid #3663e0;

    transition: background-color .3s ease-in-out;
}

#projects-container a:hover {
    background-color: #4b74e6;
}

.disabled {
    background-color: #606060 !important;
}

.disabled:hover {
    background-color: #676677 !important;
}

#footer {
    display: flex;
    justify-content: center;
}

#footer p {
    color: #474747;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;

    margin-top: 50px;
    position: absolute;
}

#footer a {
    text-decoration: none;
    color: #3386b9;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;

    margin-top: 30px;

    transition: letter-spacing .5s ease-in-out;
}

#footer a:not(.first) {
    padding-left: 5px;
    border-left: .5px dashed gray;
}

#footer a:not(.last) {
    padding-right: 5px;
}

#footer a:hover {
    letter-spacing: 1px;;
}