@keyframes load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html {
    animation: load .5s ease;
}

body {
    margin: 0;
    background: #1b1b1b;
}

#main-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #111111;

    border: 1px solid #494949;
    border-radius: 10px;

    padding: 0px 25px 30px 25px;
    text-align: center;
}

h1 {
    color: #dcdcdc;
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

p {
    color: #dcdcdc;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.small {
    color: #474747;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

input[type=url], input[type=text] {
    text-align: center;
    width: 45%;
    outline: none;

    border: 1px solid #fbfbfb;
    border-radius: 20px;
    background-color: #fbfbfb;
}

input[type=url] {
    width: 55%;
    
    -webkit-transition: width 0.4s ease-in-out;
    transition: width .4s ease-in-out;
}

input[type=url]:focus {
    width: 100%;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input::placeholder {
    color: #afafaf;
}

input[type=submit] {
    margin-top: 5px;
    padding: 3px 8px;
    outline: none;

    border: 1px solid #55a1d4;
    border-radius: 20px;
    background-color: #55a1d4;
    
    font-weight: 600;
    font-size: 20px;
}


.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


a {
    text-decoration: none;
    color: #3386b9;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;

    margin-top: 30px;

    transition: letter-spacing .5s ease-in-out;
}

#res-short {
    color: #3dabf0;
    font-size: 20px;
}

#copy {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    outline: none;
    text-decoration: none;
    color: #111111;

    border: 1px solid #fbfbfb;
    border-radius: 20px;
    background-color: #fbfbfb;

    padding: 2px 5px;
    margin-top: 8px;
}

#another {
    font-size: 25px;
    color: #3893cc;
}