<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - not found</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/pfp.ico" />

    <style>
        body {
            margin-top: 5%;
            margin-left: 5%;
        }

        h1, p {
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        }

        a {
            text-decoration: none;
            color: #0000EE;
        }
    </style>
</head>
<body>
    <h1>404 - not found</h1>
    <p>The website is in a temporary maintenance state, some pages may not respond.<br><br>Head back <a href="/">home</a> ... or keep exploring.</p>
</body>
</html>