<!DOCTYPE HTML>
<html>

<head>
    <title>Member Count</title>
    <meta name="Description" content="Official website of the Member Count Discord bot. Author: @lieuwe_berg#7122">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/membercount.css">
    
    <link rel="shortcut icon" type="image/x-icon" href="/images/icons/membercount.ico">
    
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/" style="color:#77C2AE">Home</a>
            </li>
            <li>
                <a href="https://membercount.gitbook.io/docs" style="color:#77C2AE">Documentation</a>
            </li>
            <li>
                <a href="https://www.patreon.com/member_count" target="_blank" style="color:#77C2AE">Donate</a>
            </li>
            <li>
                <a href="https://www.discordapp.com/api/oauth2/authorize?client_id=432533456807919639&permissions=8&scope=bot" target="_blank" style="color: #77C2AE; font-weight: bold">Invite!</a>
            </li>
        </ul>
    </nav>
  
    <!-- Header -->
    <div id="header">
        <span class="logo icon fa-paper-plane-o"></span>
        <p>Member
            <br /> Count
        </p>
    </div>

    <!-- Main -->
    <div id="main">



        <header class="major container 75%">
            <h2>A member counting bot that
            <br /> counts total members, users and
            <br /> bots using channel titles</h2>
            <h3 style="color: #7b7b7b">trusted by <span id="serverCount">80000</span> servers</h3>
        </header>

        <div class="box alt container">
            <section class="feature left">
<!--                 <a class="image">
                    <img src="https://cdn.glitch.com/8e3492ef-dd7b-4c65-b27c-f566f0ed1254%2Fpic01.jpg?1528914847523" alt="" />
                </a> -->
                <div class="content">
                    <h3>Fancy Counting</h3>
                    <p>Cosmetic counters, aesthetically pleasing for both you and your server members. The counters automatically
                        update so you can focus on the management of your server.</p>
                </div>
            </section>
            <section class="feature right">
<!--                 <a class="image">
                    <img src="https://cdn.glitch.com/8e3492ef-dd7b-4c65-b27c-f566f0ed1254%2Fpic02.jpg?1528914847348" alt="" />
                </a> -->
              <p class="content" style="text-align: left; color: black;">
                <br>
                <img src="/images/icons/pfp.png" height="10%" width="10%" style="border-radius: 50%; margin: 15px;float: left; transform:translateY(5%);" />
                <span style="color: #006624;">lieuwe_berg</span><br>
                m!setup<br><br>
                
                <img src="/images/icons/membercount.png" height="10%" width="10%" style="border-radius: 50%; margin: 15px;float: left; transform:translateY(5%);" />
                <span style="color: #009937;">Member Count</span><br>
                Everything has been configured!
              </p>
                <div class="content">
                    <h3>Easy Setup</h3>
                    <p>Only one command is needed for the setup of this bot,
                        <code>m!setup</code>. This command also restores the default values if you want to quickly reset them.</p>
                </div>
            </section>
            <section class="feature left">
<!--                 <a class="image">
                    <img src="https://cdn.glitch.com/8e3492ef-dd7b-4c65-b27c-f566f0ed1254%2Fpic03.jpg?1528914847821" alt="" />
                </a> -->

                <div class="content">
                    <h3>Configurable</h3>
                    <p>Want to turn a counter off? Feel free to do so! All of the commands can be viewed from the help menu,
                        <code>m!help</code>.</p>
                </div>
              <p class="content" style="text-align: left; color: black;">
                <br>
                <img src="/images/icons/pfp.png" height="10%" width="10%" style="border-radius: 50%; margin: 15px;float: left; transform:translateY(5%);" />
                <span style="color: #006624;">lieuwe_berg</span><br>
                m!counter members off<br><br>
                
                <img src="/images/icons/membercount.png" height="10%" width="10%" style="border-radius: 50%; margin: 15px;float: left; transform:translateY(5%);" />
                <span style="color: #009937;">Member Count</span><br>
                I've deleted the counter and turned it off.
              </p>
            </section>
        </div>


        <div class="box container">
            <header>
                <h2>Statistics</h2>
            </header>
            <section>
               <!-- <h4><strong id="servers" style="font-size: 110%"></strong> Servers</h4>
                <h4><strong id="votes" style="font-size: 110%"></strong> Upvotes</h4>
                <h4><strong style="font-size: 110%">24/7</strong> Uptime</h4>
                <p><strong></strong></p> -->
                <a href="https://discordbots.org/bot/432533456807919639" >
                    <img src="https://discordbots.org/api/widget/432533456807919639.svg" alt="Member Count" style=" 
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;" /></a>
                  
                <a href="https://botsfordiscord.com/bots/432533456807919639" >
                <img src="https://botsfordiscord.com/api/bot/432533456807919639/widget?theme=dark" style=" 
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;
                    margin-top: 5px;" title="Visit Member Count listed on Bots for Discord!" alt="Member Count's Widget Failed to Load" /></a>
            </section>
        </div>

        <footer class="major container 75%">
            <h3>Created by lieuwe_berg</h3>

        </footer>

    </div>

    <!-- Footer -->
    <div id="footer">
        <div class="container 75%">

            <header class="major last">
                <h2>Questions or comments?</h2>
                <ul class="actions">
                    <li>
                        <a href="https://discord.gg/dWMgWWw" class="button">Join Support Server</a>
                    </li>
                </ul>
            </header>

            <ul class="copyright">
                <li>© Copyright lieuwe_berg 2018-2019</li>
                <li>Designed with:
                    <a href="http://html5up.net">HTML5 UP</a>
                </li>
            </ul>

        </div>
    </div>
  
    <script>
      fetch('http://membercount.glitch.me/api/basic')
        .then(res => res.json())
        .then(json => {
          console.log('Servers API call res: ' + json.server_count);
          document.getElementById("serverCount").innerHTML = json.server_count;
        });
    </script>

</body>

</html>